
<tr>
  <td>
  <%= image_tag product.image.tiny.url %>
  </td>
  <td>
    <h5><%= product.name %></h5>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    Price <%= humanized_money_with_symbol product.price %>
  </td>
  <td>
    <div>
  
    Quantity <%= quantity %>

    </div>
  </td>
  <td>
    Total <%= humanized_money_with_symbol product.price * quantity %>
  </td>
  
  <br>
</tr>

