<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    <p>Your order details have been sent to <%= @order.email %> </p>
  </header>
  <table class="table table-bordered">
  <tbody>
  <% @order.line_items.each do |item| %>
    <%= render 'item', product: item.product, quantity: item[:quantity].to_i%>
  <% end %>
  <tbody>
  <tfoot>
        <tr>
          <th colspan="4">
          Grand Total:
          </th>
          <th>
          <%= @order.total %>
          </th>
        </tr>
      </tfoot>
  </table>

  <div class="order-summary jumbotron">
    <h5>Thank you for your order!</h5>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
